# Pandas
Panel - Data
- Load
- Prepare  
- Model
- Manipulate
- Analyze

### DataFrames
Are Two-dimensional tagged data structures

Has 3 components: 
- data
- index (Rows)
- columns

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = np.array([['', "col1", "col2"], ["row1",11,22],["row2",33,44]])

In [3]:
df = pd.DataFrame(data=data[1:,1:], index=data[1:,0], columns=data[0,1:])

In [4]:
print(df)
print(df.shape)

     col1 col2
row1   11   22
row2   33   44
(2, 2)

In [5]:
df2 = pd.DataFrame(np.array([[1,2,3],[4,5,6],[7,8,9]]))
print(df2)
print(df2.shape)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9
(3, 3)

In [6]:
series = pd.Series({"Argentina": "Buenos Aires", "Chile": "Santiago de Chile", "Colombia": "Bogotá", "Peru":"Lima", "Venezuela":"Caracas", "Mexico":"Mexico D.F."})

In [7]:
print(series)
print(series.shape)

Argentina         Buenos Aires
Chile        Santiago de Chile
Colombia                Bogotá
Peru                      Lima
Venezuela              Caracas
Mexico             Mexico D.F.
dtype: object
(6,)

In [8]:
series2 = pd.Series({"Argentina": ["Buenos Aires", "Rosario", "La Plata"], "Chile": "Santiago de Chile", "Colombia": ["Bogotá", "Medellin", "Cali"], "Peru":"Lima", "Venezuela":"Caracas", "Mexico":"Mexico D.F."})

In [9]:
print(series2)
print(series2.shape)

Argentina    [Buenos Aires, Rosario, La Plata]
Chile                        Santiago de Chile
Colombia              [Bogotá, Medellin, Cali]
Peru                                      Lima
Venezuela                              Caracas
Mexico                             Mexico D.F.
dtype: object
(6,)

In [10]:
df3 = pd.DataFrame(np.array([[1,2,3,4,5], [6,7,8,9,10],[11,12,13,14,15],[16,17,18,19,20],[21,22,23,24,25]]))

In [11]:
print(len(df3.index))
print(len(df3.columns))

5
5

In [12]:
df3.describe()

               0          1          2          3          4
count   5.000000   5.000000   5.000000   5.000000   5.000000
mean   11.000000  12.000000  13.000000  14.000000  15.000000
std     7.905694   7.905694   7.905694   7.905694   7.905694
min     1.000000   2.000000   3.000000   4.000000   5.000000
25%     6.000000   7.000000   8.000000   9.000000  10.000000
50%    11.000000  12.000000  13.000000  14.000000  15.000000
75%    16.000000  17.000000  18.000000  19.000000  20.000000
max    21.000000  22.000000  23.000000  24.000000  25.000000

In [13]:
df4 = pd.DataFrame(np.random.randint(0,50,size=(100,5)))

In [14]:
df4.describe()

                0           1           2        3           4
count  100.000000  100.000000  100.000000  100.000  100.000000
mean    22.140000   22.730000   21.370000   22.860   22.180000
std     14.861665   13.614353   13.769132   13.817   14.209387
min      0.000000    0.000000    0.000000    0.000    0.000000
25%     10.750000   12.000000    9.000000   12.750    8.000000
50%     20.000000   22.000000   20.500000   22.500   22.000000
75%     34.250000   33.000000   31.000000   33.000   33.250000
max     49.000000   49.000000   49.000000   49.000   49.000000

In [15]:
df4.corr()

          0         1         2         3         4
0  1.000000  0.069482  0.121717  0.004327  0.144572
1  0.069482  1.000000 -0.114451 -0.046007  0.015187
2  0.121717 -0.114451  1.000000 -0.033652  0.136418
3  0.004327 -0.046007 -0.033652  1.000000 -0.078484
4  0.144572  0.015187  0.136418 -0.078484  1.000000

In [16]:
df4.count() # Count of not null elements

0    100
1    100
2    100
3    100
4    100
dtype: int64

In [17]:
df4.max() # Max Value

0    49
1    49
2    49
3    49
4    49
dtype: int32

In [18]:
df4.min() # Min value

0    0
1    0
2    0
3    0
4    0
dtype: int32

In [19]:
df4.mean() # Mean of all data

0    22.14
1    22.73
2    21.37
3    22.86
4    22.18
dtype: float64

In [20]:
df4.std() # Standard Deviation

0    14.861665
1    13.614353
2    13.769132
3    13.817000
4    14.209387
dtype: float64

In [21]:
df4.median() # Middle Value

0    20.0
1    22.0
2    20.5
3    22.5
4    22.0
dtype: float64

In [22]:
df4[0] # Column

0     23
1      6
2     10
3     15
4     30
      ..
95    25
96     5
97     7
98    15
99    13
Name: 0, Length: 100, dtype: int32

In [23]:
df4[[0,2]] # Two Columns

     0   2
0   23  13
1    6  19
2   10  43
3   15   9
4   30  47
..  ..  ..
95  25   8
96   5  25
97   7  31
98  15  34
99  13   5

[100 rows x 2 columns]

In [24]:
df4.iloc[0][2] # same as M[0,2] Row 0 column 2

13

In [25]:
df4.loc[0] # Row 0 all columns

0    23
1     8
2    13
3    32
4    11
Name: 0, dtype: int32

In [26]:
df4.iloc[0,:] # Row 0 all

0    23
1     8
2    13
3    32
4    11
Name: 0, dtype: int32

In [27]:
df4.iloc[0,:] = [None,None,None,None,None]

In [28]:
df4.isnull()

        0      1      2      3      4
0    True   True   True   True   True
1   False  False  False  False  False
2   False  False  False  False  False
3   False  False  False  False  False
4   False  False  False  False  False
..    ...    ...    ...    ...    ...
95  False  False  False  False  False
96  False  False  False  False  False
97  False  False  False  False  False
98  False  False  False  False  False
99  False  False  False  False  False

[100 rows x 5 columns]

In [29]:
df4.isnull().sum()

0    1
1    1
2    1
3    1
4    1
dtype: int64

In [30]:
# pd.dropna() # Row

In [31]:
# df4.dropna(axis=1) # Columns

In [32]:
df4.fillna(0)

       0     1     2     3     4
0    0.0   0.0   0.0   0.0   0.0
1    6.0  28.0  19.0  22.0   4.0
2   10.0   0.0  43.0  43.0   4.0
3   15.0   9.0   9.0  35.0  49.0
4   30.0  14.0  47.0  33.0  38.0
..   ...   ...   ...   ...   ...
95  25.0  47.0   8.0  49.0   5.0
96   5.0  24.0  25.0   5.0  29.0
97   7.0  13.0  31.0   2.0   5.0
98  15.0  12.0  34.0  47.0  24.0
99  13.0   3.0   5.0   7.0  22.0

[100 rows x 5 columns]

# DataSets

In [33]:
pk = pd.read_csv('Datasets/pokemon_data.csv')

In [34]:
pk.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [35]:
pk.tail(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [36]:
pk_excel = pd.read_excel('Datasets/pokemon_data.xlsx')

In [37]:
pk_excel.head(3)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False

In [38]:
pk_excel.tail(3)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [39]:
pk_txt = pd.read_csv('Datasets/pokemon_data.txt')

In [40]:
pk_txt.head(3)

  #\tName\tType 1\tType 2\tHP\tAttack\tDefense\tSp. Atk\tSp. Def\tSpeed\tGeneration\tLegendary
0  1\tBulbasaur\tGrass\tPoison\t45\t49\t49\t65\t6...
1  2\tIvysaur\tGrass\tPoison\t60\t62\t63\t80\t80\...
2  3\tVenusaur\tGrass\tPoison\t80\t82\t83\t100\t1...

In [41]:
pk_txt.tail(3)

    #\tName\tType 1\tType 2\tHP\tAttack\tDefense\tSp. Atk\tSp. Def\tSpeed\tGeneration\tLegendary
797  720\tHoopaHoopa Confined\tPsychic\tGhost\t80\t...
798  720\tHoopaHoopa Unbound\tPsychic\tDark\t80\t16...
799  721\tVolcanion\tFire\tWater\t80\t110\t120\t130...

In [42]:
pk_txt = pd.read_csv('Datasets/pokemon_data.txt', delimiter='\t')

In [43]:
pk_txt.head(3)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False

In [44]:
pk.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [45]:
pk['Name'][0:5]

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

In [46]:
pk.Name[0:5]

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

In [47]:
pk[['Name','HP','Attack']][0:5]

                    Name  HP  Attack
0              Bulbasaur  45      49
1                Ivysaur  60      62
2               Venusaur  80      82
3  VenusaurMega Venusaur  80     100
4             Charmander  39      52

In [48]:
pk.iloc[2]

#                    3
Name          Venusaur
Type 1           Grass
Type 2          Poison
HP                  80
Attack              82
Defense             83
Sp. Atk            100
Sp. Def            100
Speed               80
Generation           1
Legendary        False
Name: 2, dtype: object

In [49]:
pk.iloc[0:3]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False

In [50]:
count = 3
for idx, row in pk.iterrows():
    if count == 0:
        break
    else:
        print(idx, row)
        count -= 1

0 #                     1
Name          Bulbasaur
Type 1            Grass
Type 2           Poison
HP                   45
Attack               49
Defense              49
Sp. Atk              65
Sp. Def              65
Speed                45
Generation            1
Legendary         False
Name: 0, dtype: object
1 #                   2
Name          Ivysaur
Type 1          Grass
Type 2         Poison
HP                 60
Attack             62
Defense            63
Sp. Atk            80
Sp. Def            80
Speed              60
Generation          1
Legendary       False
Name: 1, dtype: object
2 #                    3
Name          Venusaur
Type 1           Grass
Type 2          Poison
HP                  80
Attack              82
Defense             83
Sp. Atk            100
Sp. Def            100
Speed               80
Generation           1
Legendary        False
Name: 2, dtype: object

In [51]:
count = 3
for idx, row in pk.iterrows():
    if count == 0:
        break
    else:
        print(idx, row['Name'])
        count -= 1

0 Bulbasaur
1 Ivysaur
2 Venusaur

# Filter Data

In [52]:
pk.loc[pk['Type 1'] == "Fire"][0:3]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False

In [53]:
pk.loc[pk['Type 1'] == "Grass"][0:3]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False

In [54]:
pk.loc[pk['Type 1'] == "Water"][0:3]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False

In [55]:
pk.loc[pk['Defense'] >= 100][:3]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False

In [56]:
pk.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [57]:
pk.sort_values('HP', ascending=False)[:10]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
261,242,Blissey,Normal,NaN,255,10,10,75,135,55,2,False
121,113,Chansey,Normal,NaN,250,5,5,35,105,50,1,False
217,202,Wobbuffet,Psychic,NaN,190,33,58,33,58,33,2,False
351,321,Wailord,Water,NaN,170,90,45,90,45,60,3,False
655,594,Alomomola,Water,NaN,165,75,80,40,45,65,5,False
155,143,Snorlax,Normal,NaN,160,110,65,65,110,30,1,False
473,426,Drifblim,Ghost,Flying,150,80,44,90,54,80,4,False
313,289,Slaking,Normal,NaN,150,160,100,95,65,100,3,False
544,487,GiratinaAltered Forme,Ghost,Dragon,150,100,120,100,120,90,4,True
545,487,GiratinaOrigin Forme,Ghost,Dragon,150,120,100,120,100,90,4,True

In [58]:
pk.sort_values(['Type 1','HP'], ascending=False)[:10]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
351,321,Wailord,Water,NaN,170,90,45,90,45,60,3,False
655,594,Alomomola,Water,NaN,165,75,80,40,45,65,5,False
142,131,Lapras,Water,Ice,130,85,80,85,95,60,1,False
145,134,Vaporeon,Water,NaN,130,65,60,110,95,65,1,False
350,320,Wailmer,Water,NaN,130,70,35,70,35,60,3,False
185,171,Lanturn,Water,Electric,125,58,58,76,76,67,2,False
470,423,Gastrodon,Water,Ground,111,83,68,92,82,39,4,False
372,340,Whiscash,Water,Ground,110,78,73,76,71,60,3,False
597,537,Seismitoad,Water,Ground,105,95,75,85,75,74,5,False
199,184,Azumarill,Water,Fairy,100,50,80,60,80,50,2,False

# Some Changes

In [59]:
pk['Total'] = pk['HP'] + pk['Attack'] + pk['Defense'] + pk['Sp. Atk'] + pk['Sp. Def'] + pk['Speed']

In [60]:
pk.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [61]:
pk.drop(columns=['Total'])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [62]:
pk['Total'] = pk.iloc[:, 4:10].sum(axis=1)

In [63]:
pk.head(3)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525

In [64]:
pk2 = pk[['Name', 'Total', 'HP', 'Defense']]

In [65]:
pk2.head(3)

        Name  Total  HP  Defense
0  Bulbasaur    318  45       49
1    Ivysaur    405  60       63
2   Venusaur    525  80       83

In [66]:
grass = pk.loc[pk['Type 1'] == "Grass"].loc[pk['HP'] > 90]

In [67]:
grass

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
111,103,Exeggutor,Grass,Psychic,95,95,85,125,65,55,1,False,520
390,357,Tropius,Grass,Flying,99,68,83,72,87,51,3,False,460
434,389,Torterra,Grass,Ground,95,109,105,75,85,56,4,False,525
516,465,Tangrowth,Grass,NaN,100,100,125,110,50,50,4,False,535
550,492,ShayminLand Forme,Grass,NaN,100,100,100,100,100,100,4,True,600
551,492,ShayminSky Forme,Grass,Flying,100,103,75,120,75,127,4,True,600
652,591,Amoonguss,Grass,Poison,114,85,70,85,80,30,5,False,464
701,640,Virizion,Grass,Fighting,91,90,72,90,129,108,5,True,580
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False,531

In [68]:
grass = pk.loc[(pk['Type 1'] == "Grass") & (pk['HP'] > 90)]
grass

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
111,103,Exeggutor,Grass,Psychic,95,95,85,125,65,55,1,False,520
390,357,Tropius,Grass,Flying,99,68,83,72,87,51,3,False,460
434,389,Torterra,Grass,Ground,95,109,105,75,85,56,4,False,525
516,465,Tangrowth,Grass,NaN,100,100,125,110,50,50,4,False,535
550,492,ShayminLand Forme,Grass,NaN,100,100,100,100,100,100,4,True,600
551,492,ShayminSky Forme,Grass,Flying,100,103,75,120,75,127,4,True,600
652,591,Amoonguss,Grass,Poison,114,85,70,85,80,30,5,False,464
701,640,Virizion,Grass,Fighting,91,90,72,90,129,108,5,True,580
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False,531

In [69]:
cols = pk.columns.values
cols

array(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary', 'Total'],
      dtype=object)

In [70]:
cols2 = list(pk.columns.values)
cols2

['#',
 'Name',
 'Type 1',
 'Type 2',
 'HP',
 'Attack',
 'Defense',
 'Sp. Atk',
 'Sp. Def',
 'Speed',
 'Generation',
 'Legendary',
 'Total']

In [71]:
pk3 = pk[cols2[0:4] + [cols2[-1]] + cols2[4:12]]
pk3

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

# Export Data

In [72]:
grass = pk.loc[pk['Type 1'] == 'Grass']
#grass.to_csv('grass_type.csv', index=False)
# grass.to_excel('grass_type.xlsx', index=False)
# grass.to_csv('grass_type.txt', index=False, sep='\t')
grass[:3]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525

In [73]:
water = pk.loc[pk['Type 1'] == 'Water']
#water.to_csv('water_type.csv', index=False)
water[:3]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False,314
10,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False,405
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False,530

In [74]:
fire = pk.loc[pk['Type 1'] == 'Fire']
#fire.to_csv('fire_type.csv', index=False)
fire[:3]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False,405
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False,534

In [75]:
water = water.reset_index()
water[:3]

,index,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False,314
1,10,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False,405
2,11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False,530

In [76]:
fire = fire.reset_index(drop=True)
fire[:3]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
1,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False,405
2,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False,534

In [77]:
megas = pk.loc[pk['Name'].str.contains('Mega')]
megas[:3]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False,634
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False,634

In [78]:
no_megas = pk.loc[~pk['Name'].str.contains('Mega')]
no_megas[:3]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525

In [79]:
# Import Regular Exp
import re

fire_water = pk.loc[pk['Type 1'].str.contains('Fire|Water', regex=True)]
fire_water[:10]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False,405
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False,534
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False,634
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False,634
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False,314
10,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False,405
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False,530
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False,630
42,37,Vulpix,Fire,NaN,38,41,40,50,65,65,1,False,299

In [80]:
grass_water = pk.loc[pk['Type 1'].str.contains('grass|water', flags=re.I, regex=True)]
grass_water[:10]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False,314
10,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False,405
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False,530
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False,630
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False,320
49,44,Gloom,Grass,Poison,60,65,70,85,75,40,1,False,395

In [81]:
ad_pk = pk.loc[pk['Name'].str.contains('ad[a-z]*', flags=re.I, regex=True)]
ad_pk[:10]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
69,64,Kadabra,Psychic,NaN,40,35,30,120,70,105,1,False,400
126,117,Seadra,Water,NaN,55,65,95,95,45,85,1,False,440
140,130,Gyarados,Water,Flying,95,125,79,60,100,81,1,False,540
141,130,GyaradosMega Gyarados,Water,Dark,95,155,109,70,130,81,1,False,640
182,168,Ariados,Bug,Poison,70,90,70,60,60,40,2,False,390
293,270,Lotad,Water,Grass,40,30,30,40,50,30,3,False,220
314,290,Nincada,Bug,Ground,31,45,90,30,30,40,3,False,266
378,346,Cradily,Rock,Grass,86,81,97,81,107,43,3,False,495
452,407,Roserade,Grass,Poison,60,70,65,125,105,90,4,False,515
458,413,WormadamPlant Cloak,Bug,Grass,60,59,85,79,105,36,4,False,424

In [82]:
pi_pk = pk.loc[pk['Name'].str.contains('^pi[a-z]*', flags=re.I, regex=True)]
pi_pk[:10]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
20,16,Pidgey,Normal,Flying,40,45,40,35,35,56,1,False,251
21,17,Pidgeotto,Normal,Flying,63,60,55,50,50,71,1,False,349
22,18,Pidgeot,Normal,Flying,83,80,75,70,70,101,1,False,479
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False,579
30,25,Pikachu,Electric,NaN,35,55,40,50,50,90,1,False,320
136,127,Pinsir,Bug,NaN,65,125,100,55,70,85,1,False,500
137,127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,1,False,600
186,172,Pichu,Electric,NaN,20,40,15,35,35,60,2,False,205
219,204,Pineco,Bug,NaN,50,65,90,35,35,15,2,False,290
239,221,Piloswine,Ice,Ground,100,100,80,60,60,50,2,False,450

In [83]:
pk2 = pk

In [84]:
pk2.loc[pk2['Type 1'] == 'Fire', 'Legendary'] = True
pk2[:15]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,True,309
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,True,405
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,True,534
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,True,634
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,True,634
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False,314
10,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False,405
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False,530
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False,630
13,10,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False,195
14,11,Metapod,Bug,NaN,50,20,55,25,25,30,1,False,205

In [85]:
pk.groupby(['Type 1']).mean()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
Type 1,,,,,,,,,,
Bug,334.492754,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391,0.000000,378.927536
Dark,461.354839,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516,445.741935
Dragon,474.375000,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000,550.531250
Electric,363.500000,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727,0.090909,443.409091
Fairy,449.529412,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647,0.058824,413.176471
Fighting,363.851852,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370,0.000000,416.444444
Fire,327.403846,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538,1.000000,458.076923
Flying,677.750000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000,0.500000,485.000000
Ghost,486.500000,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500,0.062500,439.562500
Grass,344.871429,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143,0.042857,421.142857
Ground,356.281250,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250,0.125000,437.500000
Ice,423.541667,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667,0.083333,433.458333
Normal,319.173469,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020,0.020408,401.683673
Poison,251.785714,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714,0.000000,399.142857
Psychic,380.807018,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,3.385965,0.245614,475.947368
Rock,392.727273,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545,0.090909,453.750000
Steel,442.851852,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852,0.148148,487.703704
Water,303.089286,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143,0.035714,430.455357

In [86]:
pk.groupby(['Type 1']).mean().sort_values('Attack', ascending=False)

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
Type 1,,,,,,,,,,
Dragon,474.375000,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000,550.531250
Fighting,363.851852,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370,0.000000,416.444444
Ground,356.281250,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250,0.125000,437.500000
Rock,392.727273,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545,0.090909,453.750000
Steel,442.851852,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852,0.148148,487.703704
Dark,461.354839,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516,445.741935
Fire,327.403846,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538,1.000000,458.076923
Flying,677.750000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000,0.500000,485.000000
Poison,251.785714,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714,0.000000,399.142857
Water,303.089286,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143,0.035714,430.455357
Ghost,486.500000,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500,0.062500,439.562500
Normal,319.173469,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020,0.020408,401.683673
Grass,344.871429,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143,0.042857,421.142857
Ice,423.541667,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667,0.083333,433.458333
Psychic,380.807018,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,3.385965,0.245614,475.947368
Bug,334.492754,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391,0.000000,378.927536
Electric,363.500000,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727,0.090909,443.409091
Fairy,449.529412,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647,0.058824,413.176471

In [87]:
pk.groupby(['Type 1']).count().sort_values('#', ascending=False)

,#,Name,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
Type 1,,,,,,,,,,,,
Water,112,112,53,112,112,112,112,112,112,112,112,112
Normal,98,98,37,98,98,98,98,98,98,98,98,98
Grass,70,70,37,70,70,70,70,70,70,70,70,70
Bug,69,69,52,69,69,69,69,69,69,69,69,69
Psychic,57,57,19,57,57,57,57,57,57,57,57,57
Fire,52,52,24,52,52,52,52,52,52,52,52,52
Electric,44,44,17,44,44,44,44,44,44,44,44,44
Rock,44,44,35,44,44,44,44,44,44,44,44,44
Ghost,32,32,22,32,32,32,32,32,32,32,32,32
Ground,32,32,19,32,32,32,32,32,32,32,32,32
Dragon,32,32,21,32,32,32,32,32,32,32,32,32
Dark,31,31,21,31,31,31,31,31,31,31,31,31
Poison,28,28,13,28,28,28,28,28,28,28,28,28
Fighting,27,27,7,27,27,27,27,27,27,27,27,27
Steel,27,27,22,27,27,27,27,27,27,27,27,27
Ice,24,24,11,24,24,24,24,24,24,24,24,24
Fairy,17,17,2,17,17,17,17,17,17,17,17,17
Flying,4,4,2,4,4,4,4,4,4,4,4,4

In [88]:
pk['count'] = 1
pk.groupby(['Type 1']).count()['count']

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: count, dtype: int64

In [89]:
pk.groupby(['Type 1','Type 2']).count()['count']

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: count, Length: 136, dtype: int64

In [90]:
chunk_c = 0
for df in pd.read_csv('Datasets/pokemon_data.csv', chunksize=70):
    print(f'Chunk {chunk_c}')
    #print(df)
    chunk_c += 1

Chunk 0
Chunk 1
Chunk 2
Chunk 3
Chunk 4
Chunk 5
Chunk 6
Chunk 7
Chunk 8
Chunk 9
Chunk 10
Chunk 11

In [91]:
new_pk = pd.DataFrame(columns=pk.columns)
for df in pd.read_csv('Datasets/pokemon_data.csv', chunksize=5):
    res = df.groupby(['Type 1']).count()
    new_pk = pd.concat([new_pk, res], sort=True)

In [92]:
new_pk[:10]

,#,Attack,Defense,Generation,HP,Legendary,Name,Sp. Atk,Sp. Def,Speed,Total,Type 1,Type 2,count
Fire,1,1,1,1,1,1,1,1,1,1,NaN,NaN,0,NaN
Grass,4,4,4,4,4,4,4,4,4,4,NaN,NaN,4,NaN
Fire,4,4,4,4,4,4,4,4,4,4,NaN,NaN,3,NaN
Water,1,1,1,1,1,1,1,1,1,1,NaN,NaN,0,NaN
Bug,2,2,2,2,2,2,2,2,2,2,NaN,NaN,0,NaN
Water,3,3,3,3,3,3,3,3,3,3,NaN,NaN,0,NaN
Bug,5,5,5,5,5,5,5,5,5,5,NaN,NaN,5,NaN
Normal,5,5,5,5,5,5,5,5,5,5,NaN,NaN,4,NaN
Normal,3,3,3,3,3,3,3,3,3,3,NaN,NaN,2,NaN
Poison,2,2,2,2,2,2,2,2,2,2,NaN,NaN,0,NaN